<div class="blog-area margin-bottom-80 pt-4">
	<div class="container">
		<div class="row">
						<div class="col-md-12">
							<div class="section-title text-center">
								<h2>from blog</h2>
							</div>
						</div>
		</div>			
		<div class="row">
						<div class="col-lg-4 col-md-12">
							<div class="single-blog">
								<div class="blog-photo">
									<a href="#"><img src="http://preview.hasthemes.com/shopick-preview/shopick/img/blog/1.jpg" alt=""></a>
									<div class="blog-post-date">
										<span>15th</span>
										<span>Jan</span>
									</div>
								</div>
								<div class="blog-brief">
									<p>Lorem ipsum dolr sit amet, It is not simply random text. It has roots...</p>
									<div class="like-comment">
										<a href="#"><i class="sp-like"></i>120 like</a>
										<a href="#"><i class="sp-comment"></i>60 comment</a>
									</div>
									<a class="shop-now" href="#">Read more</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12">
							<div class="single-blog">
								<div class="blog-photo">
									<a href="#"><img src="http://preview.hasthemes.com/shopick-preview/shopick/img/blog/2.jpg" alt=""></a>
									<div class="blog-post-date">
										<span>13th</span>
										<span>Feb</span>
									</div>
								</div>
								<div class="blog-brief">
									<p>Lorem ipsum dolr sit amet, It is not simply random text. It has roots...</p>
									<div class="like-comment">
										<a href="#"><i class="sp-like"></i>120 like</a>
										<a href="#"><i class="sp-comment"></i>60 comment</a>
									</div>
									<a class="shop-now" href="#">Read more</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12">
							<div class="single-blog">
								<div class="blog-photo">
									<a href="#"><img src="http://preview.hasthemes.com/shopick-preview/shopick/img/blog/2.jpg" alt=""></a>
									<div class="blog-post-date">
										<span>25th</span>
										<span>Feb</span>
									</div>
								</div>
								<div class="blog-brief">
									<p>Lorem ipsum dolr sit amet, It is not simply random text. It has roots...</p>
									<div class="like-comment">
										<a href="#"><i class="sp-like"></i>120 like</a>
										<a href="#"><i class="sp-comment"></i>60 comment</a>
									</div>
									<a class="shop-now" href="#">Read more</a>
								</div>
							</div>
						</div>
		</div>
	</div>
</div>