<footer class="footerColor text-center text-white">
    <div class="py-2">
        <div class="container text-center">
            <p class="text-muted mb-0 py-2">© 2021 ONLY2NDVIBES - All rights reserved.</p>
        </div>
    </div>
</footer>