<link rel="stylesheet" href="./../../public/css/styles.css">

<<<<<<< HEAD
<div class="suscribe-area">
=======
<div class="suscribe-area margin-bottom-80">
>>>>>>> main
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="subscribe">
					<div class="subscribe-brief">
									<h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ingrese su dirección de correo electrónico</font></font></h3>
									<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Hay muchas variaciones de pasajes de Lorem Ipsum disponibles, pero la mayoría han sufrido alteraciones de alguna forma.</font></font></p>
					</div>
					<div class="subscribe-form">
									<form action="#">
										<input type="text" placeholder="Ingrese el correo electrónico para suscribirse">
										<button type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Enviar</font></font></button>
									</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>