<header class="color_bg text-white">
    <div class="container">

        <div class="nav-contet">
            <a href="/shop" class="navbar-brand">
                <img src="../img/logo.png" class="logo-home" alt="Logo" />
            </a>
            <div class="col">

            </div>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 py-3">
                <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                {{!-- <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li> --}}
            </ul>

            {{#if user}}
            <div class="column-login col-md-3 text-center d-flex py-3">
                <a class="color-dark nav-link" href="/profile">
                    <i class="fa fa-user" aria-hidden="true"> {{user.PERSONA_NOMBRE}}</i>
                </a>

                {{#if admin}}
                <a class="color-dark nav-link" href="/administrator">
                    <i class="fal fa-clipboard-list" aria-hidden="true"> ADMIN</i></a>
                </a>
                {{/if}}

                <a class="color-dark nav-link" href="/logout">
                    <i class="fal fa-sign-out" aria-hidden="true"> Salir</i></a>
                </a>
            </div>
            {{else}}

            <div class="column-login col-md-3 text-center d-flex py-3">
                <a class="color-dark nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">
                    <i class="fa fa-sign-in" aria-hidden="true"> Ingresar</i>
                </a>
                <a class="color-dark nav-link" href="/signup">
                    <i class="fa fa-user" aria-hidden="true"> Crear Cuenta</i>
                </a>
            </div>

            {{/if}}

        </div>
    </div>
</header>


<div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success textPurple" id="staticBackdropLabel">
                    <i class="fal fa-check-circle"> Login</i>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/signin" method="POST">
                    <div class="mb-1">
                        <input type="email" name="email" placeholder="CORREO" class="form-control" required autofocus>
                    </div>
                    <div class="mb-1">
                        <input type="password" name="password" placeholder="CONTRASEÑA" class="form-control" required>
                    </div>
                    <div class="col-12 text-center">
                        <button class="btn btn-warning">
                            Aceptar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>