<main class="index">
    <a href="/shop">
        <div class="intro-slider" style="background-image: url(http://only2ndvibes.linkindustrias.com/img/fondo.jpeg);">
            <div class="container intro-content text-center">
            </div>
        </div>
    </a>
</main>